/* google font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

/* shared styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Work Sans', sans-serif;
}

.mb-2 {
  margin-bottom: 2rem;
}

.btn-primary {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
  border-radius: 8px;
  background: #FF900E;
  padding: 20px 25px;
  border: none;
  color: #FFF;
  cursor: pointer;
}

/* header style */
header {
  background: rgba(255, 144, 14, 0.10);
  padding: 50px 150px;
}

/* navbar styles */

nav,
nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
}

nav li {
  margin-right: 30px;
}

nav a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  font-size: 18px;
  font-weight: 500;
}

.nav-title {
  font-size: 45px;
  font-weight: 700;
}

/* banner styles */

.banner {
  text-align: center;
}

.banner-title {
  font-size: 64px;
  font-weight: 700;
}

.banner-description {
  font-size: 16px;
  font-weight: 400;
}

.banner-img {
  width: 100%;
}

/* responsive nav & banner */
/* mobile */
@media screen and (width<=576px){
  header{
    padding:20px ;
  }
  nav{
    flex-direction: column;
  }
  .nav-title{
    margin-bottom: 2rem;
  }
  nav li{
    margin-right: 0.85rem;
  }
  .banner img{
    width: 100%;  
  }
}

/* tablet */
@media screen and (577px<= width <=970px ){
  header{
    padding: 50px;
  }
  nav{
    flex-direction: column;
  }
  .nav-title{
    margin-bottom: 2rem;
  }
}


main{
  max-width: 1200px;
  margin: 0 auto;
}

.teams-container{
  display: flex;
  align-items: center;
  justify-items: center;
}

.teams-img-container{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
  /* width: 50%; */
}
.teams-img-container img{
  width: 100%;
}

.teams-content{
  width: 50%;
  padding: 0 70px;
}

.teams-title{
  font-size: 2.8rem;
  font-weight: 500;
}