
.header, .nav, .main , .sidebar, .article,.footer{
  background-color: rgb(255, 204, 0);
  height: auto;
  border: 5px solid red;
  border-radius: 10px;
  text-align: center;
  margin: 1rem;
}

.header{
  grid-area: header;
}

.nav{
  grid-area: nav;
}

.main{
  grid-area: main;
  text-align: justify;
  padding: 1rem;
}

.sidebar{
  grid-area: sidebar;
}

.article{
  grid-area: article;
}

.footer{
  grid-area: footer;
}

.container{
  display:grid;
  gap: 1rem;
  grid-template-areas:
    "header header header header"
    "nav    main   main   sidebar"
    "nav    main   main   article"
    "footer footer footer footer"
  ;
  width: 100%;
  margin: 0 auto;
}

@media screen and ( 576px <=width <=796px) {
  .container{
    grid-template-areas: 
      "header    header    header"
      "nav       nav       nav   "
      "sidebar   main      main  "
      "sidebar   main      main  "
      "article   footer    footer"
    ;
  }
  .nav ul {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
  }

  .nav ul li{
    list-style-type: none;
  }
  .nav ul li a {
    text-decoration: none;
    cursor: pointer;
    color: black;
  }
}

@media screen and (width<=575px){
  .container{
    grid-template-areas: 
      "header"
      "nav   "
      "main  "
      "sidebar"
      "article"
      "footer"
    ;
  }  
}