*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.child1,.child2{
  display: flex;
}

.left,.right{
  width: 50%;
}
.left img{
  margin: 0;
  padding: 0;
  width: 100%;
}

.child2{
  flex-direction: row-reverse;
}
.right{
  text-align: center;
  align-self: center;
}

@media screen and (width<=576px){
  .child1,.child2{
    flex-direction: column;
  }
  .left,.right{
    width: 100%;
  }
}